@import "~leaflet/dist/leaflet.css";
@import "~leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css";
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.controls {
  padding: 10px;
  background: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.input-group,
.info-group,
.button-group {
  display: flex;
  margin-bottom: 10px;
}

.input-group input,
.input-group select,
.input-group button,
.button-group button {
  margin-right: 10px;
  padding: 5px;
}

.map-container {
  flex: 1;
}
